.bg{
    background-color: aquamarine;
}
.text-15{
    font-size: 40px;
}
.text-10{
    font-size: 30px;
}
.text-red{
 background-color: red;
}
.tex-blue{
background-color: blue;
}
.text-green{
background-color: green;
}